:root{
    --Dark-cyan:hsl(185, 75%, 39%);
    --Very-dark-desaturated:hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
   }
   body{
       background-color: var(--Dark-cyan);
   }
.bottom-svg{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 350px;
}
.top-svg{
    
        position: absolute;
        top: 0;
        left: 0;
        width: 600px;
        height: 450px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    
}